<!DOCTYPE html>
<html lang="en">
{{>head}}
	<body>
		{{>navbar}}
    <div class="text-center h1fchng">
      <a href="/"><img width="700px"  class="img-fluid" src="images/404error.png" srcset="click to go back" alt="click for go back"></a>
      <div>
        <h1 class="mb-4">Opps Page Not Found</h1>
        <a href="/"><button class="bttn">Go Back</button></a>
      </div>
    </div>
    {{>footer}}
	</body>
</html>
