<!DOCTYPE html>
<html lang="en">
{{>head}}
	<body>
		{{>navbar}}
		<!-- Header Part 2  -->
		<div class="main_header">
			<div class="row">
				<div class="col-md-10 col-12 mx-auto">
					<div class="row">
						<!-- left Side -->
						<div class="col-md-6 col-12 main_header_right">
							<figure>
								<img
									class="sz"
									src="images/about.png"
									alt="about image"
								/>
							</figure>
						</div>
						<!-- right Side -->
						<div
							class="col-md-6 col-12 main_header_left text-capitalize"
						>
							<p class="fchng">
								Hi My Name Is
								<span> Muhammad Hamza Shoukat</span>
							</p>
							<h1 class="h1fchng">
								I Am Self-Thought
								<span> Web Developer </span> and Freelancer
							</h1>
							<a href=""><button>About Me</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
{{>footer}}
	</body>
</html>
