<!DOCTYPE html>
<html lang="en">
	{{>head}}
	<body>
		{{>navbar}}
		<!-- Header Part 2  -->
		<div class="main_header">
			<div class="row">
				<div class="col-md-10 col-12 mx-auto">
					<div class="row">
						<!-- Left Side -->
						<div
							class="col-md-6 col-12 main_header_left text-capitalize"
						>
							<p>Welcome To Weather App</p>
							<h1>
								get the latest
								<span> weather </span> info of your city
							</h1>
							<a href="/weather"><button>Check Weather</button></a>
						</div>

						<!-- Right Side -->
						<div class="col-md-6 col-12 main_header_right">
							<div
								id="carouselExampleControls"
								class="carousel slide"
								data-ride="carousel"
							>
								<div class="carousel-inner">
									<div class="carousel-item active">
										<img
											src="./images/c1.png"
											class="hw"
											alt="..."
										/>
									</div>
									<div class="carousel-item">
										<img
											src="./images/c2.png"
											class="hw"
											alt="..."
										/>
									</div>
									<div class="carousel-item">
										<img
											src="./images/c3.png"
											class="hw"
											alt="..."
										/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{{>footer}}
	</body>
</html>
